<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="test.hello.world" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".Test" android:label="@string/app_name">
		</activity>
		<activity android:name=".TestListView" android:label="list view test">
		</activity>
		<activity android:name=".TabAlbums"></activity>
		<activity android:name=".TabArtists"></activity>
		<activity android:name=".TabSongs"></activity>
		<activity android:name=".TestGridView">
		</activity>
		<activity android:name=".TestScrollView">
		</activity>
		<activity android:name=".AssortedWidgets">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".TestTab" android:label="tab view test">
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="7" />

</manifest>
