<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="test.hello.world" android:versionCode="1" android:versionName="1.0">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".Test" android:label="@string/app_name"></activity>
		<activity android:name=".controls.TestListView" android:label="list view test"></activity>
		<activity android:name=".controls.TabAlbums"></activity>
		<activity android:name=".controls.TabArtists"></activity>
		<activity android:name=".controls.TabSongs"></activity>
		<activity android:name=".controls.TestGridView"></activity>
		<activity android:name=".controls.TestScrollView"></activity>
		<activity android:name=".controls.AssortedWidgets"></activity>
		<activity android:name=".controls.TestSlidingDrawer"></activity>
		<activity android:name=".controls.TestCustomizedList"></activity>
		<activity android:name=".controls.TestCustomizedListWithOtherControls"></activity>
		<activity android:name=".i10n.TestI10N"></activity>
		<activity android:name=".animations.TestAnimation"></activity>
		<activity android:name=".color.TestColorStateList"></activity>
		<activity android:name=".activities.Parent"></activity>
		<activity android:name=".webview.TestWebView"></activity>
		<activity android:name=".webview.WebViewActivity"></activity>
		<activity android:name=".activities.Child"></activity>
		<activity android:name=".controls.TestTab" android:label="tab view test"></activity>
		<activity android:name=".stateManagement.TestDestructionByRotation"></activity>
		<activity android:name=".stateManagement.TestOnRetainNonConfigurationInstance"></activity>
		<activity android:name=".stateManagement.TestOnConfigurationChanged" android:configChanges="orientation|keyboard"></activity>
		<activity android:name=".menu.TestBasicMenu"></activity>
		<activity android:name=".menu.TestInflatingMenu"></activity>
		<activity android:name=".popup.TestPopUp"></activity>
		<activity android:name=".popup.TestAlertDialogWithAList"></activity>
		<activity android:name=".popup.TestAlertDialogWithAListOfSingleItems"></activity>
		<activity android:name=".popup.TestProgressBars"></activity>
		<activity android:name=".popup.TestProgressBars"></activity>
		<activity android:name=".popup.TestCustomizedDialog"></activity>
		<activity android:name=".popup.TestProgressBarUpdating"></activity>
		<activity android:name=".popup.TestProgressBarUpdatingWithAsynTask"></activity>
		<activity android:name=".preferences.TestPreferences"></activity>
		<activity android:name=".io.TestReadAndWriteFiles"></activity>
		<activity android:name=".io.TestReadROF"></activity>
		<activity android:name=".db.TestDatabaseActivity"></activity>
		<activity android:name=".contentProvider.TestContentProviderActivity"></activity>
		<activity android:name=".notifications.TestNotificationExpandedMessage"></activity>
		<activity android:name=".notifications.TestNotifications"></activity>
		<activity android:name=".activities.TestImplicitIntent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<provider android:name=".contentProvider.ContactsContentProvider" android:authorities="test.hello.world.contentprovider.contactscontentprovider"/>
	</application>
	<uses-sdk android:minSdkVersion="8"/>
</manifest>
